.footer {
    padding: 24px 0;
    border-top: 1px solid $gray-600;
    // background-color: $gray-100;
    h5 {
        line-height: 1.8;
        @include mobile {
            span {
                display: block;
            }
        }

    }
}