.navbar {
    border-bottom: 1px solid $gray-700;
    background-color: #fff;
    .navbar-brand {
        margin: 0;
        img {
            width: auto;
            height: 44px;
            display: inline-block;
            vertical-align: middle;
            @include ipad {
                height: 34px;
            }
        }
    }
    .navbar-collapse {
        @include pc {
            display: flex;
            justify-content:end;
        }
        @include ipad {
            padding-top: 10px;
        }
}

}
.navbar-expand-lg .navbar-nav .nav-link {
    @include pc {
    padding: 0 0 0 48px;
}
}

.navbar-light .navbar-toggler {
    @include ipad {
        border:none;
        padding:0;
    }
    &:focus {
        @include ipad {
            box-shadow: none;
        }
    }
}
.nav-link {
    @include ipad {
        text-align: center;
        padding:20px 0 ;
    }

}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active {
    color:$primary;
}