.tab-category {
    border: 1px solid $gray-700;
    padding: 8px 14px 6px;
    letter-spacing: 2px;
    text-indent:2px;
    margin-bottom: 16px;
    font-size: 14px;
}

.article-block {
    padding-top: 167px;
    @include mobile {
        padding-top: 100px;
    }
    .header-s-title {
        color:$primary;
        margin-bottom: 16px;
        font-weight: 500;
    }
    .author-block {
        display:flex;
        justify-content: space-between;
        color: $gray-600;
        margin-top: 24px;
        margin-bottom: 24px;
        span+span {
            margin-left: 24px;
        }
        @include mobile {
            display: block;
            .author,.date {
                display:inline;
                margin-right: 16px;
            }
            span+span {
                margin-left: 16px;
            }
        }
    }
    .article-header-img {
        margin-bottom: 16px;
        img {
            min-width: 100%;
        }
    }
    .article-content {
        p+p {
            margin-top: 30px;
            @include mobile {
                margin-top: 24px;
            }
        }
        .foreword {
            
        }
        blockquote {
            color: $primary;
            text-align: center;
            position: relative;
            line-height: 2;
            margin: 56px auto;
            padding: 0 20px;
            &::before {
                display: block;
                content:'';
                position: absolute;
                top: 0;
                left: 0;
                width: 1px;
                height: 100%;
                background-color: $primary;
            }
            &::after {
                display: block;
                content:'';
                position: absolute;
                right: 0;
                top: 0;
                width: 1px;
                height: 100%;
                background-color: $primary;
            }
            @include mobile {
                margin: 48px auto;
            }
        }
        .p-link {
            border-bottom: 1px solid #000;
        }
        .s-title {
            font-size: 22px;
            text-align: center;
            margin:48px auto ;
            font-weight: 600;
            @include mobile {
                margin: 32px auto 24px;
            }
        }
        .content-img {
            margin: 32px auto;
        }
        span+span {
            margin-left: 24px;
            
        }

    }
}
