.other-op-cooperation {
    @include mobile {
        padding: 0;
        background-image: none;
    }
}

.cooperation-article {
    .article-wrap {
        .article-img {
            img {
                height: 240px;
            }
        }
    }
}
