.other-op-paper {
    justify-content: center;
    .paper-book {
        width: 75%;
        margin: auto;
    }
    @include mobile {
        // height: auto;
        background-color: $secondary;
        .op-title {
            // text-align: center;
            margin-top: 30px;
        }
    }
    
}
.article-wrap {
    .paper-article-img {
        img {
            width: auto;
            margin: auto;
        }
    }
}
