.other-op {
    padding-top: 120px;
    padding-bottom: 50px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-end; 

    @include mobile {
        height: auto;
        min-height:100vh;
        padding: 100px 0px 40px;
        .op-title {
            text-align: center;
        } 
    }
}

.other-op-view {
    background: url(../images/op-bg-view.jpg) center center no-repeat;
    background-size: cover;
    @include mobile {
      background: url(../images/op-bg-view-mb.jpg) center center no-repeat;
      background-size: cover;
    }
}

.article-wrap {
    .article-img {
        img {
            height: 300px;
            width: 100%;
            object-fit: cover;
        }
    }
    .article-text {
        padding: 0 15px;
    }
}

