.other-op {
    padding-top: 120px;
    padding-bottom: 50px;
    height: 100vh;
    background: url(../images/op-bg.svg) center center no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.article-wrap {
    .article-img {
        img {
            height: 300px;
            width: 100%;
            object-fit: cover;
        }
    }
    .article-text {
        padding: 0 15px;
    }
}

