//全站字體
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&family=Noto+Serif+TC:wght@300;400;500;600&family=Roboto:wght@100;300;400&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Noto Serif TC', serif;
    // font-family: 'Roboto','Noto Sans TC', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height:1.7;
    color:$gray-800;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    display: block;
    text-decoration: none;
    color: #000;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
ul,
p,
figure {
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.45;
}

h4 {
    font-weight: 300;
}

h5,.h5 {
    font-weight: 300;
    color:$gray-600;
    @include mobile {
        font-size: 14px;
    }
}

p {
    font-size:1.125rem ;//18px
    line-height: 1.7;
}
p+p {
    margin-top: 24px;
}

img {
    max-width: 100%;
    display: block;
}

section {
    padding: 96px 0;
    @include mobile {
        padding: 56px 0;
    }
}

.font-sans {
    font-family: 'Roboto','Noto Sans TC', sans-serif;
}


