a {    
    display:inline-block;
    transition:.3s;
    &:hover {
        transition:.3s;
    }
}
.a-line {
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
    transition:.3s;
    display:inline-block;
}

.a-text-k {
    &:hover {
        color: #000;
        .a-line {
            color:$primary;
            transition:.3s;
        }
    }
}

.block-btn {
    border:1px solid $gray-800;
    padding:8px 28px 9px;
    font-size: 1rem;
    background-color: #fff;
    white-space: nowrap;
    &:hover {
        background-color: $primary;
        color: #fff;
    }
}
.block-btn-white {
    border:1px solid $white;
    background-color: transparent;
    color:$white;
}